morpheus/plugins/motility/haptotaxis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xs:group name="CellTypePlugins">
		<xs:choice>
			<xs:element name="Haptotaxis"	type="Haptotaxis"/>
		</xs:choice>
	</xs:group>
	<xs:complexType name="Haptotaxis">		
		<xs:annotation>
			<xs:appinfo>Motility</xs:appinfo>
		</xs:annotation>

		<xs:attribute name="name" type="cpmString" use="optional" />
		<xs:attribute name="attractant" type="cpmMathExpression" use="required" />
		<xs:attribute name="strength" type="cpmMathExpression" use="required" />
	</xs:complexType>

</xs:schema>
