morpheus/plugins/motility/margolus_diffusion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xs:group name="CellTypePlugins">
		<xs:all>
			<xs:element name="MargolusDiffusion"	type="MargolusDiffusion" 	minOccurs="0"	maxOccurs="unbounded"/>
		</xs:all>
	</xs:group>
	
	<xs:complexType name="MargolusDiffusion">
		<xs:complexContent>
			<xs:extension base="morphInstantProcessPlugin">
		
				<xs:annotation>
					<xs:appinfo>Motility</xs:appinfo>
				</xs:annotation>
				<xs:attribute name="iterations" type="cpmUnsignedInteger" use="required" default="1" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
