morpheus/plugins/shape/connectivity_constraint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xs:group name="CellTypePlugins">
		<xs:choice>
			<xs:element name="ConnectivityConstraint"	type="ConnectivityConstraint"/>
		</xs:choice>
	</xs:group>
	
	<xs:complexType name="ConnectivityConstraint">
		<xs:annotation>
			<xs:appinfo>Shape</xs:appinfo>
		</xs:annotation>

		<xs:attribute name="name" type="cpmString" use="optional" />
	</xs:complexType>

</xs:schema>

