morpheus/plugins/miscellaneous/insert_medium.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xs:group name="CellTypePlugins">
		<xs:all>
			<xs:element name="InsertMedium"	type="InsertMedium" 	minOccurs="0"	maxOccurs="unbounded"/>
		</xs:all>
	</xs:group>
	
	<xs:complexType name="InsertMedium">
		<xs:complexContent>
			<xs:extension base="morphPlugin">
				<xs:annotation>
					<xs:appinfo>Miscellaneous</xs:appinfo>
				</xs:annotation>
				<xs:all>
					<xs:element name="Condition" type="cpmMathExpression" minOccurs="0"/>
				</xs:all>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>

