morpheus/plugins/interaction/mechanical_link.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xs:group name="CellTypePlugins">
		<xs:all>
			<xs:element name="MechanicalLink"	type="MechanicalLink" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:group>
	
	<xs:complexType name="MechanicalLink">
		<xs:annotation>
			<xs:appinfo>Motility</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="strength" type="cpmMathExpression"  use="required" />
		<xs:attribute name="link-probability" type="cpmMathExpression"  use="required" />
		<xs:attribute name="unlink-probability" type="cpmMathExpression"  use="required" />
	</xs:complexType>

</xs:schema>
