morpheus/plugins/initialization/csv_reader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:group name="PopulationInitPlugins">
		<xs:all>
			<xs:element name="CSVReader" 		type="CSVReaderPop"	minOccurs="0"/>
		</xs:all>
	</xs:group>

	<xs:complexType name="CSVReaderPop">
		<xs:complexContent>
			<xs:extension base="morphPlugin">
				<xs:annotation>
					<xs:appinfo>Initialization</xs:appinfo>
				</xs:annotation>

				<xs:attribute name="filename" use="required" type="cpmSystemFile" />
				<xs:attribute name="scaling" type="cpmVectorMathExpression" default="1.0, 1.0, 1.0"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
