morpheus/plugins/initialization/init_poisson_disc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:group name="PopulationInitPlugins">
		<xs:choice>
			<xs:element name="InitPoissonDisc" 		type="InitPoissonDisc"/>
		</xs:choice>
	</xs:group>

	<xs:complexType name="InitPoissonDisc">
		<xs:annotation>
			<xs:appinfo>Initialization</xs:appinfo>
		</xs:annotation>
        <xs:attribute name="number-of-cells" use="required" type="cpmMathExpression" default="100" />
	</xs:complexType>
</xs:schema>
