morpheus/plugins/initialization/remove_cells.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xs:group name="PopulationInitPlugins">
		<xs:choice>
			<xs:element name="RemoveCells"	type="RemoveCells"/>
		</xs:choice>
	</xs:group>
	
	<xs:complexType name="RemoveCells">
		<xs:annotation>
			<xs:appinfo>Population</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="Condition" type="cpmMathExpression" />
		</xs:all>
		<xs:attribute name="name" type="cpmString" use="optional" />
		
	</xs:complexType>
</xs:schema>
