morpheus/core/simulation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:element name="MorpheusModel" type="MorpheusModel" />
	
	<xs:complexType name="MorpheusModel">
		<xs:all>
			<xs:element name="Description" type="Description" />
			<xs:element name="Time" type="Time" />
			<xs:element name="Space" type="Space" />
			<xs:element name="Global" type="morphGlobals" minOccurs="0" />
			<xs:element name="CPM" type="CPMType" minOccurs="0" />
			<xs:element name="CellTypes" type="CellTypes" minOccurs="0" />
			<xs:element name="Analysis" type="Analysis" minOccurs="0" />
			<xs:element name="CellPopulations" type="CellPopulations" minOccurs="0" />
		</xs:all>
		<xs:attribute name="version" type="cpmInteger" use="optional" />
	</xs:complexType>
	
	<xs:group name="GlobalPlugins">
		<xs:all>
		</xs:all>
	</xs:group>
	
	<xs:group name="CellTypePlugins">
		<xs:all>
		</xs:all>
	</xs:group>
  
	<xs:group name="PDEPlugins">
		<xs:all>
		</xs:all>
	</xs:group>
	
	<xs:group name="InteractionPlugins">
		<xs:all>
		</xs:all>
	</xs:group>
	
	<xs:group name="ContactPlugins">
		<xs:all>
		</xs:all>
	</xs:group>
		
	<xs:group name="AnalysisPlugins">
        <xs:all>
		</xs:all>
	</xs:group>
	
	<xs:group name="DiscreteSystemPlugins">
		<xs:all>
		</xs:all>
	</xs:group>
	
	<xs:group name="SystemPlugins">
		<xs:all>
		</xs:all>
	</xs:group>
	
	<xs:group name="PopulationInitPlugins">
		<xs:all>
		</xs:all>
	</xs:group>
	
	<xs:group  name="FieldInitPlugins">
		<xs:all>
		</xs:all>
	</xs:group>

	
	
	<xs:complexType name="morphGlobals">
		<xs:all>
			<xs:group ref="GlobalPlugins" />
		</xs:all>
		<xs:annotation>
			<xs:documentation>Define globally available Constants and Variables (Globals / Fields)
			</xs:documentation>°
		</xs:annotation>
	</xs:complexType>
	

	
	<xs:complexType name="cpmCPMBoundaryConditions">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="Condition">
				<xs:complexType>
					<xs:attribute name="boundary" use="required" type="cpmBoundary" />
					<xs:attribute name="value" use="required" type="cpmCellTypeRef" />
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	
	<xs:complexType name="cpmCPMBoundaryValue">
		<xs:attribute name="boundary" use="required" type="cpmBoundaryRef"/>
		<xs:attribute name="value" use="required" type="cpmCellTypeRef" />
	</xs:complexType>

	<xs:complexType name="CellTypes">
		<xs:all>
			<xs:element name="CellType" type="CellType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specification of cell state and behaviors, for cell-based models.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	
	<xs:complexType name="CellType">
		<xs:all>
			<xs:element name="Annotation" type="morphText" minOccurs="0" />
			<xs:group  ref="CellTypePlugins"/>
		</xs:all>
		<xs:attribute name="class" type="cpmCelltypeClass"  use="required" default="biological"/>
		<xs:attribute name="name" type="cpmCellTypeDef"  use="required" />
		<xs:attribute name="tags"	type="morphTags"			use="optional" />
	</xs:complexType>
	
    <xs:simpleType name="cpmCelltypeClass">
        <xs:restriction base="cpmString">
			<xs:enumeration value="biological"/>
			<xs:enumeration value="medium"/>
<!-- 			<xs:enumeration value="supercell"/> -->
        </xs:restriction>
    </xs:simpleType>
	
	<xs:complexType name="CellPopulations">
		<xs:all>
			<xs:element name="Population" type="Population" maxOccurs="unbounded"/>
			<xs:element name="BoundaryValue" type="cpmCPMBoundaryValue" minOccurs="0" maxOccurs="unbounded" />
		</xs:all>
	</xs:complexType>
	
	<xs:complexType name="Population">
		<xs:all minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="PopulationInitPlugins"/>
			<xs:element name="Annotation" type="morphText" minOccurs="0" />
			<xs:element name="Cell" type="cpmCell" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="InitProperty" type="cpmPopulationProperty"  minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="InitVectorProperty" type="cpmPopulationVectorProperty"  minOccurs="0" maxOccurs="unbounded"/>
		</xs:all>
		
		<xs:attribute name="type" type="cpmCellTypeRef" use="required">
			<xs:annotation>
				<xs:documentation>Cell type to create at initialization.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="size" type="cpmUnsignedInteger" use="required" default="1">
			<xs:annotation>
				<xs:documentation>Number of cells to create at initialization.
				
				Note:
				- By default, cells are created in random locations, unless initializers such as 'InitRectangle' are used.
				- If the number of cells created by initializers such as 'InitRectangle' is smaller than the number specified here, the remaining cells are created in random locations.
				
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="cpmString"  use="optional" >
			<xs:annotation>
				<xs:documentation>Name of population.
					
					For user convenience, used in GUI only.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="cpmPopulationProperty">
		<xs:annotation>
			<xs:documentation>Initializes a cell property of a population of cells with a particular value or evaluated function.

This allows the user to create populations a heterogeneous initial population. That is, a population of cells that share the celltype, but differ in some property value. Or simply to create a (random) distribution among cell properties.
			</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="Expression" type="cpmMathExpression"/>
		</xs:all>
		<xs:attribute name="symbol-ref" type="cpmDoubleSymbolRef"/>
	</xs:complexType>
	
	<xs:complexType name="cpmPopulationVectorProperty">
		<xs:all>
			<xs:element name="Expression" type="cpmVectorMathExpression"/>
		</xs:all>
		<xs:attribute name="symbol-ref" type="cpmVectorSymbolRef"/>
		<xs:attribute name="notation" type="morphVectorNotation" use="optional" default="x,y,z" />
	</xs:complexType>
	
	<xs:complexType name="cpmCell">
	  <xs:all>
		<xs:group  ref="PropertyDataGroup"/>
		<xs:element name="MembranePropertyData" type="MembranePropertyData" minOccurs="0" maxOccurs="unbounded">
			<xs:annotation>
				<xs:documentation>Sets values for MembraneProperty. Overrides initial values.</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="Center" type="cpmDoubleVector" minOccurs="0" />
		<xs:element name="Nodes" type="cpmNodes"/>
<!--		<xs:element name="SubCell">
			<xs:complexType>
				<xs:attribute name="cell-id" type="cpmUnsignedInteger" />
			</xs:complexType>
		</xs:element>-->
	  </xs:all>	  
	  <!--<xs:attribute name="volume" type="cpmUnsignedInteger"/>-->
	  <xs:attribute name="id" type="cpmUnsignedInteger" />
	  <xs:attribute name="name" type="cpmString" use="optional"/>
	</xs:complexType>

	<xs:simpleType name="cpmNodes">
		<xs:restriction base="xs:string">
		  <!-- This pattern specifies a generic 3D coordinate type with whitespaces as separators (allowing for commas, decimal) 
			NOTE: The regular expression is commented out to speed up loading of large populations (or large 3D cells).
		  -->  
<!-- 		  <xs:pattern value="(-?\d+\s-?\d+\s-?\d+;)*(-?\d+\s-?\d+\s-?\d+)"/> -->
			<xs:pattern value=".*" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="Analysis">
		<xs:all>
			<xs:group  ref="AnalysisPlugins"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="Description">
		<xs:all>
			<xs:element name="Details" type="morphText" >
				<xs:annotation>
					<xs:documentation>Text to describe and annotate model, put references and track changes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Title" type="xs:string" >
				<xs:annotation>
					<xs:documentation>Model title.
						
						Used as name for output directory.
						</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	
	<xs:complexType name="Time">
	
		<xs:annotation>
			<xs:documentation>Specifies global time of simulation. 
			
- Length of simulation, when and where to write output. 
- Interpretation of spatial and temporal spaces.</xs:documentation>
		</xs:annotation>
		
		<xs:all >		
			<xs:element name="RandomSeed"  minOccurs="0" >
				<xs:annotation>
					<xs:documentation>Seed for the random number generator (RNG).

If not specified, the seed is set randomly (using ctime).

To exactly reproduce simulation results, choose the same random seed. Note that in multicore simulations (number of openMP threads > 1), the random numbers also depend on the number of threads, as each threads has its own RNG (see File->Settings/Preferences->Threads per job).
 
</xs:documentation>
				</xs:annotation>
				<xs:complexType>					
					<xs:attribute name="value" type="cpmInteger" use="required"/>
					<xs:all>
						<xs:element name="Annotation" type="morphText" minOccurs="0" />
					</xs:all>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="TimeSymbol">
				<xs:annotation>
					<xs:documentation>Specifies the symbol used for simulation time.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="symbol" type="cpmDoubleSymbolDef" use="required" default="time"/>
					<xs:attribute name="name" type="cpmString" use="optional" default="Time"/>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="StartTime" minOccurs="1" type="cpmTime" default ="0">
				
				<xs:annotation>
					<xs:documentation>Initial time of the simulation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StopTime" minOccurs="1" type="cpmTime" default="1">
				<xs:annotation>
					<xs:documentation>Termination time of simulation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StopCondition" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Terminate simulation when condition is satisfied.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:all>
						<xs:element name="Annotation" type="morphText" minOccurs="0" />
						<xs:element name="Condition" type="cpmMathExpression" />
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="SaveInterval" minOccurs="0" type="cpmTime" >
				<xs:annotation>
					<xs:documentation>Interval to save simulation state for checkpointing. 

Filename = [title][time].xml.gz

Special cases:
  0: Write only at start and end
 -1: Do not save simulation state
 
 Note:
  - 3D simulations can generate large checkpointing files.
  - Large PDE simulations can generate large checkpointing files.
</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType> 
	
	<xs:complexType name="Space">

		<xs:all>
			<xs:element name="SpaceSymbol" minOccurs="1" >
				<xs:annotation>
					<xs:documentation>Symbol representing the current lattice position.</xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:attribute name="symbol" type="cpmVectorSymbolDef" use="required" default="space" />
					<xs:attribute name="name" type="cpmString" use="optional" />
				</xs:complexType>
			</xs:element>
			
			<xs:element name="Lattice" minOccurs="1" type="Lattice" />
			
			<xs:element name="MembraneLattice" type="MembraneLattice" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	
	<xs:complexType name="MembraneLattice">
						<xs:annotation>
					<xs:documentation>Resolution of spatial discretization of MembraneProperties. 
					
Defines the size of 1D/2D lattice on which the PDEs of MembraneProperties are modeled. Is identical for all MembraneProperties of all cells defining one.

The NodeLength of each lattice node is computed from the length scale set for the CPM and the volume of the cell (under the assumption of a spherical cell).

Note: 
- high resolution can seriously impact performance.
</xs:documentation>
				</xs:annotation>	
		<xs:all>
			<xs:element name="Annotation" type="morphText" minOccurs="0" />
			<xs:element name="SpaceSymbol" minOccurs="1" >
				<xs:annotation>
					<xs:documentation>Symbol representing the current lattice position.</xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:attribute name="symbol" type="cpmVectorSymbolDef" use="required" />
					<xs:attribute name="name" type="cpmString" use="optional" />
				</xs:complexType>
			</xs:element>
			<xs:element name="Resolution" minOccurs="1" >
				<xs:complexType>
					<xs:attribute name="value" type="cpmUnsignedInteger" use="required" default="100" />
					<xs:attribute name="symbol" type="cpmVectorSymbolDef" use="optional" />
					
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="cpmCPMBoundaryConditions">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="Condition">
				<xs:complexType>
					<xs:attribute name="boundary" use="required" type="cpmBoundary" />
					<xs:attribute name="value" use="required" type="cpmCellTypeRef" />
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	
	<xs:complexType name="cpmCPMBoundaryValue">
		<xs:attribute name="boundary" use="required" type="cpmBoundaryRef"/>
		<xs:attribute name="value" use="required" type="cpmCellTypeRef" />
	</xs:complexType>
	
</xs:schema>
